:root{
  --bg-color:#0f172a;
  --text-color:#ffffff;
  --accent-color:#38bdf8;
}

body{
  background-color: var(--bg-color);
  color:var(--text-color);
  margin: 0px;
  font-family: Arial,sans-serif;
}

button{
  
  background-color: var(--accent-color);
  color: black;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}


