.about-me{ 
   padding: 10px 20px;
   text-align: center;
  
   
}
.about-me h2{
   font-size: 30px;
   margin-bottom: 20px;
}
.about-me p{
   max-width:700px;
   margin: auto;
   line-height: 1.6;
   font-size: 17px;
}
