.contact-section{
    padding: 10px 15px;
    text-align: center;

   
}
.contact-section h2{
    font-size: 30px;
    margin-bottom: 30px;
   
}
.contact-section h5{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    color: #38bdf8;

}
.contact-section p{
    color: white;
}

.email-section{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:5px;
  
}
.platforms{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
      
}
.platforms a{
    color:white;
    text-decoration: none;
    transition: transform 0.3s,color 0.3s;
    
}
.platforms a:hover{
    color:#38bdf8;
    transform:scale(1.05);

}
.footer{
    text-align: center;
    padding: 20px;
    color:white;
}

@media (max-width:768px){

.contact-section h2{
    font-size: 26px;  
    }
.contact-section h5{
    font-size: 15px;

}
.platforms{
    flex-direction: column;
    gap: 10px; 
      
}

.email-section{
  flex-direction: column;
  gap:2px;
  
}

}