
.skills-section{
    padding: 60px 40px;

   
}
.skills-section h2{
    font-size: 30px;
   margin-bottom: 30px;
   text-align: center;
}

.skills-section ul{
  display: flex;
   gap:30px;
 justify-content: center;
 flex-wrap: wrap;
 list-style: none;


}

.skill-card{
    background-color:#1e293b;
    border: 1px solid gray;
    border-radius: 10px;
    color:white;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.skill-card:hover{
    background-color:#38bdf8;
    color:black;
    transform: translateY(-5px);

   

}

@media (max-width:768px){

    .skills-section h2{
        font-size: 26px;

    }

    .skills-section ul{
       
        gap:25px;

     }
}

